# "Hello world" in Python!

When programmers are learning a new language, we tend to write a one-line program that prints some version of the message "Hello world!" this is a simple program that shows whether your computer is properly set up to run Python programs.

In [3]:
print('Hello Python world!')

Hello Python world!

If it works, congratulations! You just ran your first Python program.

#### Hello World - variable

- Store your own version of the message "Hello World" in a variable, and print it.

In [4]:
msg = "Hello Bridgei2i"
print(msg)

Hello Bridgei2i

In [5]:
msg1 = "Hi"
print(msg1)
msg1 = "Hey"
print(msg1)

Hi
Hey

#### One Variable, Two Messages:
- Store a message in a variable, and then print that message.
- Store a new message in the same variable, and then print that new message.

In [6]:
quote = "\"Ken Thompson once said, 'One of my most productive days was throwing away 1000 lines of code\""
print(quote)

"Ken Thompson once said, 'One of my most productive days was throwing away 1000 lines of code"

#### Someone Said
- Find a quote that you like. Store the quote in a variable, with an appropriate introduction such as "Ken Thompson once said, 'One of my most productive days was throwing away 1000 lines of code'". Print the quote.

In [7]:
fname = "prashanth"

#### First Name Cases
- Store your first name, in lowercase, in a variable.

In [8]:
print(fname)
print(fname.upper())
print(fname.title())

prashanth
PRASHANTH
Prashanth

- Using that one variable, print your name in lowercase, Titlecase, and UPPERCASE.

In [9]:
fname = "Prashanth"
lname = "K"
print(fname+" "+lname)

Prashanth K

#### Full Name
- Store your first name and last name in separate variables, and then combine them to print out your full name.

In [10]:
name = " Prashanth K "
print(name)

 Prashanth K

- Store your first name in a variable, but include at least two kinds of whitespace on each side of your name.
- Print your name as it is stored.

In [11]:
print(name.lstrip())
print(name.rstrip())
print(name.strip())

Prashanth K
 Prashanth K
Prashanth K

- Print your name with whitespace stripped from the left side, then from the right side, then from both sides.

In [12]:
def cal(a,b):
    add = a+b
    sub = b-a if a<b else a-b
    mul = a*b
    div = b/a if a<b else a/b
    exp = a**b
    print(add)
    print(sub)
    print(mul)
    print(div)
    print(exp)
cal(50,20)

70
30
1000
2.5
9536743164062500000000000000000000

#### Arithmetic
- Write a program that prints out the results of at least one calculation for each of the basic operations: addition, subtraction, multiplication, division, and exponents.

In [13]:
res = (2/3.0)+24-(23%25)
print(res)

1.6666666666666679

#### Order of Operations
- Find a calculation whose result depends on the order of operations. (Ex - *2/3.0+24-23%25*)
- Print the result of this calculation using the standard order of operations.

In [14]:
#Nothing much to do here, Just write at least one comment in the next cell :p

#### First Comments
- Nothing much to do here, Just write at least one comment in the next cell :p

In [15]:
string = 'LEGO Batch 2018'

In [16]:
print(string.center(50, '-'))

-----------------LEGO Batch 2018------------------

In [17]:
string = 'LEGO Batch 2018'


- Print the above string using centre() function like this :

-------------------------------LEGO Batch 2018-------------------------------

In [18]:
l = string.split()
if l[len(l)-1] == 'batch':
    print("string ends with batch")
else:
    print("string does not end with batch")

string does not end with batch

- Check the string if its ending with 'batch'

In [19]:
tab = 'Tab\tSpace'
l = ""
for i in tab:
    l = l+i
print(l)

Tab	Space

In [20]:
tab = 'Tab\tSpace'

- Expand the string 'tab' by changing the \t to a tab space

In [21]:
l = [1,2,3,4,5,6,7,8] 
even = list(filter(lambda l : l%2==0, l))
print(even)

[2, 4, 6, 8]

In [22]:
l = [1,2,3,4,5,6,7,8]

- Print the even postions from the list

In [23]:
s = 'LEGO Batch 2018' 
l = [i for i in s]
print(l)

['L', 'E', 'G', 'O', ' ', 'B', 'a', 't', 'c', 'h', ' ', '2', '0', '1', '8']

In [24]:
s = 'LEGO Batch 2018'

- Store each char of the string 's' onto a list

In [25]:
l[2] = l[2].lower()
print(l)

['L', 'E', 'g', 'O', ' ', 'B', 'a', 't', 'c', 'h', ' ', '2', '0', '1', '8']

- Replace the 3rd letter in the string to its lower case

In [26]:
l.insert(3,"t")
print(l)

['L', 'E', 'g', 't', 'O', ' ', 'B', 'a', 't', 'c', 'h', ' ', '2', '0', '1', '8']

 - Insert 't' in the 3rd position

In [27]:
l.remove(l[3])
print(l)

['L', 'E', 'g', 'O', ' ', 'B', 'a', 't', 'c', 'h', ' ', '2', '0', '1', '8']

- Now delete the 3rd letter

In [28]:
for i in l:
    if i == 'B':
        l.insert(l.index(i)+1, 'o')
print(l)

['L', 'E', 'g', 'O', ' ', 'B', 'o', 'a', 't', 'c', 'h', ' ', '2', '0', '1', '8']

- Insert the letter 'o' after 'B' in the string

In [29]:
l = l[::-1]

- Reverse the String

In [30]:
print(l)

['8', '1', '0', '2', ' ', 'h', 'c', 't', 'a', 'o', 'B', ' ', 'O', 'g', 'E', 'L']

In [31]:
career = ['analyst','tester','programmer','truck driver']

- Make a list that includes four careers, such as 'analyst','tester','programmer','truck driver' etc.

In [32]:
career.index('tester')

1

- Find the index of 'tester' in your list.

In [33]:
for i in career:
    if i == 'programmer':
        print("Present")

Present

- Show wheather 'programmer' career is in your list.

In [34]:
career.append("Software Engineer")
print(career)

['analyst', 'tester', 'programmer', 'truck driver', 'Software Engineer']

- Add a new career to your list at the last.

In [35]:
career.insert(0,"Data Engineer")
print(career)

['Data Engineer', 'analyst', 'tester', 'programmer', 'truck driver', 'Software Engineer']

- Insert a new career at the beginning of the list.

In [36]:
for i in career:
    print(i)

Data Engineer
analyst
tester
programmer
truck driver
Software Engineer


- Use a loop to show all the careers in your list.

In [37]:
def s_asc(l):
    print(sorted(l,key=len))
def s_dsc(l):
    l1 = sorted(l,key=len)
    l1 = l1[::-1]
    print(l1)
s_asc(career)
s_dsc(career)

['tester', 'analyst', 'programmer', 'truck driver', 'Data Engineer', 'Software Engineer']
['Software Engineer', 'Data Engineer', 'truck driver', 'programmer', 'analyst', 'tester']

- Print the list by sorting based on the length of the strings.(both Ascending and Descending)

In [38]:
l = [12,34,2,45,6,6,77,8] 
l1 = sorted(l)
print(l1)

[2, 6, 6, 8, 12, 34, 45, 77]

In [39]:
l = [12,34,2,45,6,6,77,8]

- Print the numbers in increasing order.

In [40]:
print(l1[::-1])

[77, 45, 34, 12, 8, 6, 6, 2]

- Print the numbers in decreasing order.

In [41]:
print(l)

[12, 34, 2, 45, 6, 6, 77, 8]

- Print the numbers in their original order.

In [42]:
print(l.pop())
print(l.pop(1))

8
34

- Pop the last item from the list, and pop any item except the last item.

In [43]:
l.remove(l[2])
l.remove(77)
print(l)

[12, 2, 6, 6]

- Remove one item on the 3rd position, and one item by its value which is 77.

In [44]:
alp = []
for i in range(65,65+10):
    alp.append(chr(i))
print(alp)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

- Store the first ten letters of the alphabet in a list.

In [45]:
alp[0:3]

['A', 'B', 'C']

- Use a slice to print out the first three letters of the alphabet.

In [46]:
alp[3:6]

['D', 'E', 'F']

- Use a slice to print out any three letters from the middle of your list.

In [47]:
alp[6:]

['G', 'H', 'I', 'J']

- Use a slice to print out the letters from any point in the middle of your list, to the end.

In [48]:
ages = [23, 16, 14, 28, 19, 11, 38]
print("Max :", max(ages))
print("Min :", min(ages))
print("Sum :", sum(ages))

Max : 38
Min : 11
Sum : 149

- Find the maximum,minimum and sum of ages from the list

In [49]:
t = []
for i in range(1,11):
    t.append(10*i)
print(t)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

- Make a list of the first ten multiples of ten (10, 20, 30... 90, 100).

In [50]:
t = []
def cube(t):
    for i in range(1,11):
        t.append(10*i)
cube(t)
print(t)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

- Make a list of the first ten cubes (1, 8, 27... 1000) using a list comprehension, and print them out.

In [51]:
st = 'LEGO Batch 2020-July' 
for i in st:
    print(i)

L
E
G
O

B
a
t
c
h

2
0
2
0
-
J
u
l
y

- Store 'LEGO Batch 2020-July' in a variable. Use a for loop to print each character from your sentence on a separate line.

In [52]:
print(st[0:3])
print(st[6:8])
print(st[-4:])

LEG
at
July

- Print out the first 3 characters, any middle 2 consecutive characters, and the last 3 characters of each word in the sentence.

In [53]:
s = 'Its Python Python python PYTHON Python'
sh = s.split()
if sh[0]=="Python":
    print("Appears First")
else:
    print("Does notappear first")

Does notappear first

In [54]:
s = 'Its Python Python python PYTHON Python'

- Show where the word *Python* first appears in the sentence.

In [55]:
s = 'Its Python Python python PYTHON Python'
sh = s.split()
if sh[-1]=="Python":
    print("Appears Last")
else:
    print("Does notappear Last")

Appears Last

- Show the last place *Python* appears in the sentence.

In [56]:
c = 0
for i in sh:
    if i == "Python":
        c +=1
print(c)

3

- Show how many times the word *Python* appears in your sentence.

In [57]:
print(sh)
for i in sh:
    print(i)

['Its', 'Python', 'Python', 'python', 'PYTHON', 'Python']
Its
Python
Python
python
PYTHON
Python

- Break your sentence into a list of words. Print the raw list, and use a loop to print each word on its own line.

In [58]:
sh1 = []
for i in sh:
    if i == "Python":
        sh1.append("Ruby")
    else:
        sh1.append(i)
sen = ""
for i in sh1:
    sen +=i+" "
print(sen)

Its Ruby Ruby python PYTHON Ruby

- Change *Python* to *Ruby* in your sentence.

In [59]:
sc = (6,9,8,5)
print("The lowest possible score is :", min(sc))
print("The highest possible score is : ", max(sc))
print("A judge can give a gymnast total :", sum(sc),"points")

The lowest possible score is : 5
The highest possible score is :  9
A judge can give a gymnast total : 28 points

#### Gymnast Scores
- A gymnast can earn a score between 1 and 10 from each judge; nothing lower, nothing higher. All scores are integer values; there are no decimal scores from a single judge.
- Store the possible scores a gymnast can earn from one judge in a tuple.
- Print out the sentence, "The lowest possible score is \_\_\_, and the highest possible score is \_\_\_." Use the values from your tuple.
- Print out a series of sentences, "A judge can give a gymnast ___ points."

In [60]:
d = {"Tom":"cat","Johnny":"dog","Jerry":"cat"}

#### Pet Names
- Create a dictionary to hold information about pets. Each key is an animal's name, and each value is the kind of animal.
    - For example, 'Willie': 'dog'
- Put at least 3 key-value pairs in your dictionary.

In [61]:
for k,v in d.items():
    print(k, "is a",v)

Tom is a cat
Johnny is a dog
Jerry is a cat

- Use a for loop to print out a series of statements such as "Willie is a dog."

In [62]:
d['Johnny'] = "cat"
print(d)

{'Tom': 'cat', 'Johnny': 'cat', 'Jerry': 'cat'}

- Modify one of the values in your dictionary. You could clarify to name a breed, or you could change an animal from a cat to a dog.

In [63]:
d["Rocky"] = "dog"
print(d)

{'Tom': 'cat', 'Johnny': 'cat', 'Jerry': 'cat', 'Rocky': 'dog'}

- Add a new key-value pair to your dictionary. (*Max : Parrot*)

In [64]:
del d["Johnny"]
print(d)

{'Tom': 'cat', 'Jerry': 'cat', 'Rocky': 'dog'}

- Remove one of the key-value pairs from your dictionary.

In [65]:
m = {"Mount Everest":8848,"K2":8945 ,"Kangchenjunga":5475,"Lhotse":4686,"Makalu":5456}

#### <a name='exercise_mountain_heights'></a>Mountain Heights
- Wikipedia has a list of the [tallest mountains in the world](http://en.wikipedia.org/wiki/List_of_mountains_by_elevation), with each mountain's elevation. Pick five mountains from this list.
    - Create a dictionary with the mountain names as keys, and the elevations as values.

In [66]:
for k in m:
    print(k)

Mount Everest
K2
Kangchenjunga
Lhotse
Makalu

- Print out just the mountains' names, by looping through the keys of your dictionary.

In [67]:
for k in m:
    print(m[k])

8848
8945
5475
4686
5456

- Print out just the mountains' elevations, by looping through the values of your dictionary.

In [68]:
for k,v in m.items():
    print(k,"is",v, "meters tall")

Mount Everest is 8848 meters tall
K2 is 8945 meters tall
Kangchenjunga is 5475 meters tall
Lhotse is 4686 meters tall
Makalu is 5456 meters tall

- Get the details of a specific mountain alone, say if its Everest then print "Everest is 8848 meters tall."

In [69]:
for k,v in m.items():
    m[k] = int(v/3.28)
print(m)

{'Mount Everest': 2697, 'K2': 2727, 'Kangchenjunga': 1669, 'Lhotse': 1428, 'Makalu': 1663}

- The list of [tallest mountains in the world](http://en.wikipedia.org/wiki/List_of_mountains_by_elevation) provided all elevations in meters. Convert each of these elevations to feet, given that a meter is approximately 3.28 feet. You can do these calculations by hand at this point.

In [70]:
m1 = {"Mount Everest":[8848],"K2":[8945] ,"Kangchenjunga":[5475],"Lhotse":[4686],"Makalu":[5456]}
for k,v in m1.items():
    m1[k].append(int(v[0]/3.28))
print(m1)

{'Mount Everest': [8848, 2697], 'K2': [8945, 2727], 'Kangchenjunga': [5475, 1669], 'Lhotse': [4686, 1428], 'Makalu': [5456, 1663]}

- Create a new dictionary, where the keys of the dictionary are still the mountains' names. This time however, the values of the dictionary should be a list of each mountain's elevation in meters, and then in feet: {'everest': [8848, 29029]}

In [71]:
for k,v in m1.items():
    print(v[0])

8848
8945
5475
4686
5456

- Print out just the mountains' elevations in meters, by looping through the values of your dictionary and pulling out the first number from each list.

In [72]:
for k,v in m1.items():
    print(v[1])

2697
2727
1669
1428
1663

- Print out just the mountains' elevations in feet, by looping through the values of your dictionary and pulling out the second number from each list.

In [73]:
sorted(m1)

['K2', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Mount Everest']

- Sort the dictionary based on the mountaian name

In [74]:
n = {'Mount Everest':{"elevation":2697,"range":"Himalayas"}, 
     'K2':{"elevation":2727,"range":"Karakoram"},
     'Kangchenjunga':{"elevation":1669,"range":"Himalayas"}, 
     'Lhotse': {"elevation":1428,"range":"Himalayas"}, 
     'Makalu':{"elevation":1663,"range":"Himalayas"}}

- Create a new dictionary, where the keys of the dictionary are once again the mountains' names. This time, the values of the dictionary are another dictionary. This dictionary should contain the elevation in either meters or feet, and the range that contains the mountain. For example: {'everest': {'elevation': 8848, 'range': 'himalaya'}}.

In [103]:
for k,v in n.items():
    c = 0
    for k1,v1 in v.items():
        if c==0:
            b = v1
            c +=1
        elif c==1:
            print(k,"is an",b,"- meter tall mountain in the",v1,"range" )

Mount Everest is an 2697 - meter tall mountain in the Himalayas range
K2 is an 2727 - meter tall mountain in the Karakoram range
Kangchenjunga is an 1669 - meter tall mountain in the Himalayas range
Lhotse is an 1428 - meter tall mountain in the Himalayas range
Makalu is an 1663 - meter tall mountain in the Himalayas range

- Print out a series of statements that say everything you know about each mountain: "Everest is an 8848-meter tall mountain in the Himalaya range."

In [106]:
l = ["Prashanth","Sanjay","Manju","Manu"]
if len(l)>=4 and len(l)<=6:
    print("the room being crowded")
elif len(l) == 2 or len(l) == 3:
    print("the room not being crowded")
elif len(l)==0:
    print("the room being empty")
elif len(l)>6:
    print("there being a mob in the room")

the room being crowded

- Make a list of names that includes at least four people.
    - If there are more than 5 people, a message is printed about there being a mob in the room.
    - If there are 3-5 people, a message is printed about the room being crowded.
    - If there are 1 or 2 people, a message is printed about the room not being crowded.
    - If there are no people in the room, a message is printed abou the room being empty.

In [109]:
c = 0
while(True):
    inp = int(input("Enter 1 or 0 : "))
    if inp == 1 :
        c +=1
        print("Count of iterations :",c)
        continue
    elif inp == 0:
        print("exit")
        break

Enter 1 or 0 : 1
Count of iterations : 1
Enter 1 or 0 : 1
Count of iterations : 2
Enter 1 or 0 : 1
Count of iterations : 3
Enter 1 or 0 : 0
exit

- Write a while loop which every time accepts 1 or 0, if the user inputs as 1, then go back in the loop by printing the count of iterations of the loop, if 0 exit from the loop saying 'exit' and if its any other input throw an Error message go back again in the loop

In [110]:
def add(a,b):
    c = a+b
    print(c)
add(3,5)
add(6,9)
add(10,30)

8
15
40

#### Addition Calculator
- Write a function that takes in two numbers, and adds them together. Make your function print out a sentence showing the two numbers, and the result.
- Call your function with three different sets of numbers.

In [112]:
ad = lambda a,b:a+b
ad(3,5)

8

- Write a Lambda function for the above operation

In [114]:
mydict = {'carl':40,
          'alan':2,
          'bob':1,
          'danny':3}
sorted(mydict)
dict(sorted(mydict.items(), key=lambda item: item[1]))

{'bob': 1, 'alan': 2, 'danny': 3, 'carl': 40}

- Sort the below dictionary based on the values

In [39]:
mydict = {'carl':40,
          'alan':2,
          'bob':1,
          'danny':3}